*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#header {
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
}
#header-logo #header-links{
    display: inline-block;
    width: 49%;
}
#header-logo img, #header-links {
    height: 60px;
}

#header-logo{
    /*background-color: blue;*/
    height: 60px;
    width: 330px;
}

#header-links {
    min-width: 610px;
    margin-left: 70px;
    padding-top: 30px;
    /*background-color: red;*/
}

#header-links a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    
    padding: 10px 15px;
    /*background-color: yellow;*/
}

#header-links a:not(:first-of-type){
    margin-left: 5px;
}

/* PAGE BODY */

#page-body{
    margin-top: 71px;
    min-height: 1000px;
    background-color: aquamarine;
}

/* FOOTER */

footer{
    min-height: 500px;

    border-top: 1px solid black;
}

#footer{
    min-height: 450px;
    width: 75%;

    border: 1px dotted black;
}

#footer hr {
    min-height: 425px;
}

#footer-left-column, #footer-right-column{
    display: inline-block;
    width: 49%;
    min-height: 425px;
    text-align: center;
}

#footer-left-column {

    background-color: lightblue;
}

#footer-right-column {
    background-color: lightpink;

}