:root {
    --color-A: rgb(251, 220, 212); /* #fbdcd4 */
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-A);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--color-A);
    transition: background-color 500ms;
}

#header {
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
}
#header-logo #header-links{
    display: inline-block;
    width: 49%;
}
#header-logo img, #header-links {
    height: 60px;
}

#header-logo{
    /*background-color: blue;*/
    height: 60px;
    width: 330px;
}

#header-links {
    min-width: 610px;
    margin-left: 70px;
    padding-top: 30px;
    /*background-color: red;*/
}

#header-links a{
    text-decoration: none;
    background-color: var(--color-A);
    transition: background-color 500ms;
    color: black;
    border: 2px solid black;
    
    padding: 10px 15px;
    /*background-color: yellow;*/
}

#header-links a:not(:first-of-type){
    margin-left: 5px;
}

#header-links a:hover {
    background-color: white;
}

#header-logo-mobile {
    display: none;
    cursor: pointer;
}
#header-logo-mobile img{
    height: 50px;

}

#hamburger-meni {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.hamburger-link {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/* PAGE BODY */

#page-body{
    margin-top: 70px;
    min-height: 1000px;
    background-color: var(--color-A);
}

/* FOOTER */

footer{
    min-height: 500px;
    /*background-image: linear-gradient(to bottom, #fbdcd4, #fcd6cc, #fdd0c3, #fec9bb, #ffc3b3);*/

    /*background-image: linear-gradient(to bottom, #fbdcd4, #fdd3c8, #fec9bb, #ffc0af, #ffb6a3);*/

    /*background-image: linear-gradient(to bottom, #fbdcd4, #fdcfc2, #ffc1b1, #ffb49f, #ffa68e);*/ /* good */

    /*background-image: linear-gradient(to bottom, #fbdcd4, #fec8bd, #ffb4a9, #ff9e97, #ff8888);*/ /* better */

    background-image: linear-gradient(to bottom, #fbdcd4, #efb5bb, #d792b4, #ab76b9, #5c66be);
}

#footer{
    min-height: 450px;
    width: 75%;
    padding: 5px 10px;
    background-color: white;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#footer hr {
    min-height: 425px;
    opacity: 33%;
}

#footer-left-top, #footer-right-bottom{
    display: inline-block;

    width: 49%;
    min-height: 425px;

    padding: 5px;

    text-align: center;
}

#footer-left-top {

    /*background-color: lightblue;*/
}

#footer-right-bottom {
    /*background-color: lightpink;*/

}

.show {
    display: flex !important;
    flex-direction: column;
}

.active {
    background-color: white;
}

@media (max-width: 768px) {

    

    #header-links {
        display: none; /* Hide the header links on smaller screens */
    }

    #hamburger-menu {
        display: flex; /* Show the hamburger menu on smaller screens */
        width: 100%;
    }

    #page-body {
        margin-top: 50px; /* Adjust the margin to make space for the fixed header */
    }

    /* Adjust header logo for smaller screens */
    #header-logo{
        display: none;
    }
    
    #header-logo-mobile{
        display: flex;
    }

    /* Adjust hamburger menu icon styles */
    .line {
        background-color: white;
        height: 50px;
    }

    #footer-left-top, #footer-right-bottom{
        display: block;
        width: 100%;
    }
}


