:root {
    --color-A: rgb(251, 220, 212); /* #fbdcd4 */

    --sirina-desktop: 1010px;

    --sirina-mobile: 300px;;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-A);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--color-A);
    transition: background-color 500ms;
}

#header {
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
}
#header-logo #header-links{
    display: inline-block;
    width: 49%;
}
#header-logo img, #header-links {
    height: 60px;
}

#header-logo{
    /*background-color: blue;*/
    height: 60px;
    width: 330px;
}

#header-links {
    min-width: 610px;
    margin-left: 70px;
    padding-top: 30px;
    /*background-color: red;*/
}

#hamburger-button{
    display: none;
}

#header-links a, #hamburger-button{
    text-decoration: none;
    background-color: var(--color-A);
    transition: background-color 500ms;
    color: black;
    border: 2px solid black;
    
    padding: 10px 15px;
    /*background-color: yellow;*/
}

#header-links a:not(:first-of-type){
    margin-left: 5px;
}

#header-links a:hover{
    background-color: white;
}

#header-logo-mobile {
    display: none;
    cursor: pointer;
}
#header-logo-mobile img{
    height: 50px;

}

/* PAGE BODY */

#page-body{
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 800px; /* remove 8 */
    margin-top: 70px;
    margin-top: 70px;
    background-color: var(--color-A);
}

.body-container{
    display: flex;
    min-width: 250px;
    max-width: 1010px;
    min-height: 250px;
    margin: 10px;
    text-align: center;

    background-color: white;
    border: 2px solid black;
}

.hide {
    display: none;
}

/* index.html */

#index-cont-1{
    flex-direction: column;
    padding: 15px;
}

#index-cont-1 h3{
    font-size: x-large;
    font-weight: bold;
}

#index-cont-1 p {
    font-size: larger;
    margin-top: 15px;
    line-height: 1.5em;
}

#index-cont-1 p > span {
}

#index-cont-1-buttons {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#index-cont-1-buttons button, #index-cont-2 input{
    cursor: pointer;
    min-width: 50px;
    min-height: 35px;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 1.25em;
    background-color: #cfbeff;
    border: 2px solid black;
    border-radius: 25px;
}

#index-cont-1-buttons button:hover, #index-cont-2 input:hover {
    background-color: black;
    color: white;
}

#index-cont-1-info {
    width: fit-content;
    margin-left: 642px;
    font-size: x-small;
}

#index-cont-main #index-main-pic {
    z-index: 0;
}

#index-cont-1 {
    z-index: 1;
    position: relative;
    width: 1010px;
    margin: 0;
}

#index-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

    width: var(--sirina-desktop);
}



#index-row-1 > .body-container:first-of-type { margin-left: 0;}
#index-row-1 > .body-container:last-of-type { margin-right: 0;}

#index-cont-2, #index-cont-3, #index-cont-4 {
    width: 250px;
}

#index-cont-2, #index-cont-3 {
    flex-direction: column;
    justify-content: space-evenly;
    min-width: calc((var(--sirina-desktop) / 2) - 10px);
    padding: 20px;
}

#index-cont-2 p {
    font-size: 1.25em;
}

#index-cont-3 {
    flex-direction: row;
}

#index-cont-3 div {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    padding-right: 40px;
}

#index-cont-3 img {
    width: 250px;
    border: inherit;
}

/* cenovnik.html */

#cenovnik-cont-main, #cenovnik-cont-1, #cenovnik-cont-2, #cenovnik-cont-3 {
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    width: 100%;
    background-color: white;
}

#cenovnik-cont-main {
    padding: 60px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-size: 1.25em;
    background-image: url('../Materijal/beauty-salon-pattern-desktop-15.png');
    background-size: 200px;
}


#cenovnik-cont-main h3{
    margin-top: 20px;
}

#zbir-akcija span{
    display: block;
    margin-top: 10px;
}

#zbir-akcija span:first-of-type {
    margin-top: 20px;
}

#cenovnik-cont-1 {
    align-items: center;
    margin-top: 50px;
    background-color: inherit;
    border: none;
}

#cenovnik-cont-1 table{
    width: 100%;
    background-color: white;
    background-image: url('../Materijal/beli-papir.jpg');
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}

#cenovnik-cont-1 table tr td{
    padding: 12px 20px;
    border-bottom: 1px solid black;
    font-size: 1.2em;
}

#cenovnik-cont-1 thead {
    font-weight: bold;
}

#cenovnik-cont-1 input {
    cursor: pointer;
    width: 78px;
    height: 25px;
    background-color: inherit;
    color: inherit;
    border: 2px solid black;
    font-weight: bold;
}

#cenovnik-cont-1 input:hover {
    background-color: black;
    color: white;
}

#cenovnik-cont-racun {
    z-index: 10;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: #cfbeff;
    font-size: 1.25em;
}

#cenovnik-cont-racun span {
    font-weight: bold;
}

.cenovnik-naziv {
    text-align: left;
}

.cenovnik-cena {
    width: 175px;
    text-align: right;
}

.cenovnik-dugme {
    width: 75px;
}

/* tretmani.html */

[id^='tretmani-row-'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

[id^='tretmani-row-'] img {
    object-fit: cover;
    width: 290px;
    height: 250px;
    margin: 5px;
    border: 2px solid black;
}

[id^='tretmani-cont-'] {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 707px;
    margin: 5px;
    font-size: 1.5em;
}

[id^='tretmani-row-']:nth-of-type(odd){
    /*background-color: greenyellow;*/
}

[id^='tretmani-row-']:nth-of-type(even){
    /*background-color: red;*/
}

/* galerija.html */

[id^='galerija-row-'] {
    width: var(--sirina-desktop);
}

[id^='galerija-row-'] img {
    object-fit: cover;
    width: 500px;
    height: 350px;
    margin: 2px 0;
    border: 5px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

[id^='galerija-row-'] img:nth-last-of-type(even) {
    margin-left: 2px;
}

/* o-nama.html */

#o-nama-kartica {
    display: flex;
    width: var(--sirina-desktop);
    flex-direction: column;
}

#slika-info {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#o-nama-slika {
    width: 250px;
}

#o-nama-slika img {
    height: 200px;
}

#o-nama-info {
    display: inherit;
    flex-direction: column;
    margin-left: 100px;
}

#o-nama-info h3 {
    text-align: left;
    margin-bottom: 20px;
}

#o-nama-info h3:last-of-type{
    margin-bottom: 0;
}

#o-nama-info h3 span {
    font-weight: bolder;
    color: #5c66be;
}

#bio {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

/* NAZAD NA VRH DUGME */

#nazad-na-vrh {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 99;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: none;
    border-radius: 50px;
    font-size: 2em;
}
  
#nazad-na-vrh:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* FOOTER */

footer{
    width: 100%;
    min-height: 500px;
    padding-bottom: 100px;

    background: hsla(12, 83%, 91%, 1);

    background: linear-gradient(270deg, hsla(12, 83%, 91%, 1) 0%, hsla(255, 27%, 71%, 1) 67%, hsla(243, 33%, 66%, 1) 88%, hsla(238, 39%, 61%, 1) 98%, hsla(234, 43%, 55%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(12, 83%, 91%, 1) 0%, hsla(255, 27%, 71%, 1) 67%, hsla(243, 33%, 66%, 1) 88%, hsla(238, 39%, 61%, 1) 98%, hsla(234, 43%, 55%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(12, 83%, 91%, 1) 0%, hsla(255, 27%, 71%, 1) 67%, hsla(243, 33%, 66%, 1) 88%, hsla(238, 39%, 61%, 1) 98%, hsla(234, 43%, 55%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBDCD4", endColorstr="#ABA1C9", GradientType=1 );
}

#footer{
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
    max-width: var(--sirina-desktop);
    min-height: 450px;
    width: 100%;
    padding: 5px 10px;
    background-image: url('../Materijal/beli-papir.jpg');
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#footer hr {
    min-height: 425px;
    opacity: 33%;
}

#footer-left-top, #footer-right-bottom{

    width: 49%;
    min-height: 425px;

    padding: 15px;

    text-align: center;
}

#footer-left-top {

    /*background-color: lightblue;*/
}

#footer-right-bottom {
    /*background-color: lightpink;*/

}

.footer-sm-icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}

.footer-sm-icons img:hover{
    cursor: pointer;
}

.footer-sm-icons:first-of-type {
    margin-left: 0;
}

.footer-sm-icons:last-of-type {
    margin-right: 0;
}

#footer-adresa {
    margin-top: 10px;
    font-family: cursive;
    font-size: 1.5em;
}

#footer-adresa-naziv{
    font-weight: bold;
}

#footer-adresa-map{
    margin-top: 10px;
}

#footer-email, #footer-telefon {
    font-family: cursive;
    font-size: 1.5em;
}

#footer-email{
    margin-top: 20px;
}

#footer-email a, #footer-telefon a{
    text-decoration: none;
    font-family: sans-serif;
    color: #5c66be;
}

#footer-email a:hover, #footer-telefon a:hover {
    color: black;
}

#footer-telefon a{
    letter-spacing: 1px;
}

#info{
    margin-top: 50px;
    font-size: large;
}

#copyright{
    margin-top: 125px;
}

.show {
    display: flex !important;
    flex-direction: column;
}

.active {
    background-color: white;
}

@media (max-width: 768px) {

    #nazad-na-vrh {
        right: 10px;
    }

    #header-logo {
        display: none;
    }
    #header-logo-mobile {
        display: block;
    }

    #page-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: normal;
    }

    /**/

    #index-cont-main {
        width: var(--sirina-mobile);
    }

    #index-main-pic {
        display: none;
    }

    #index-cont-1-info {
        display: none;
    }

    #index-cont-1-buttons {
        flex-direction: column;
    }

    #index-cont-1-buttons button {
        margin-top: 10px;
    }

    #index-cont-1 {
        margin-top: 50px;
        width: var(--sirina-mobile);
    }
    #index-row-1 {
        width: var(--sirina-mobile);
        flex-direction: column;
    }
    #index-cont-2, #index-cont-3 {
        min-width: var(--sirina-mobile);
        font-size: 1em;
    }

    #index-cont-3 {
        margin-left: 0;
    }

    #index-cont-3 img {
        width: 100px;
        height: 100px;
    }

    footer {
        padding-bottom: 0;
    }
    #footer {
        flex-direction: column;
    }
    #footer hr {
        display: none;
    }

    #footer-left-top, #footer-right-bottom {
        width: 100%;
        display: block;
    }

}


